// app global css in SCSS form
.title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Ubuntu';
  color: #108D37;
}
.subtitle {
  font-size: 15px;
  font-family: 'Ubuntu';
  color: #108D37;
  margin-top: -20px;
}

.button {
  border-radius: 10px;
}

p {
  font-family: 'Ubuntu';
}